colorlog==4.7.2
dgl==2.1.0+cu118
faiss_gpu==1.7.2
harvesttext==0.8.2.1
lightning==2.2.5
matplotlib==3.6.0
networkx==3.2.1
numpy==2.2.5
openai==1.75.0
pandas==1.4.0
python_dateutil==2.9.0.post0
pytorch_lightning==2.2.5
recbole==1.2.0
scikit_learn==1.6.1
scipy==1.15.2
Scrapy==2.11.2
sentence_transformers==3.0.1
torch==2.0.0+cu118
tqdm==4.66.4
